.scroll-container::-webkit-scrollbar {
  width: 8px; /* Scrollbar kengligi */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: red;
  border-radius: 4px;
}

.scroll-container ul li:hover {
  width: 300px;
  border: 1px solid red;
  border-radius: 4px;
  background-color: #f0f8ff;
}
