.scroll-container::-webkit-scrollbar {
  width: 8px; /* Scrollbar kengligi */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #FF6F55;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}
